<h1>Визначення можливих джерел ризиків</h1>
<table class="table table-bordered" width="100%">
  <ng-container *ngFor="let category of riskOriginCategories; let i = index">
    <tr [class]="'thead-dark font-weight-bold'">
      <td>{{i + 1}}</td>
      <td>{{category.title}}</td>
      <td>{{category.categorySize}}</td>
      <td>{{category.categorySize / totalSize | number:'1.1-2'}} %</td>
    </tr>
    <tr *ngFor="let risk of category.risks; let riskIndex = index">
      <td>{{riskIndex + 1}}</td>
      <td>{{risk.title}}</td>
      <td>{{risk.value}}</td>
    </tr>
  </ng-container>
  <tr>
    <td colspan="2">
      <span>Total:</span>
    </td>
    <td>
      {{totalSize}}
    </td>
    <td>100%</td>
  </tr>
</table>
