<h1>Моніторинг ризиків</h1>
<table class="table table-bordered">
<!--  <tr>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td>{{hardcode}}</td>-->
<!--    <td *ngFor="let expertCoef of expertsCoefficient">-->
<!--      {{expertCoef | number:'1.1-2'}}-->
<!--    </td>-->
<!--    <td colspan="13"></td>-->
<!--  </tr>-->
  <tr>
    <td rowspan="3"></td>
    <td rowspan="3"></td>
    <td rowspan="3"></td>
    <td rowspan="3"></td>
    <td rowspan="3"></td>
    <td colspan="10">Оцінки експертів у діапазоні [0...1]</td>
<!--    <td></td>-->
<!--    <td colspan="10">Оцінки експертів з урахуванням їхньої вагомості</td>-->
<!--    <td rowspan="3" colspan="2"></td>-->
  </tr>
  <tr>
    <td *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      {{number}}
    </td>
    <td>Sum</td>
<!--    <td *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">-->
<!--      {{number}}-->
<!--    </td>-->
  </tr>
  <tr>
    <td colspan="10">Коефіцієнти вагомості кожного з експертів</td>
    <td></td>
    <td colspan="10"></td>
  </tr>

  <ng-container *ngFor="let category of riskCategories; let i = index">
    <tr [class]="'thead-dark font-weight-bold'">
      <td>{{category.probability | number:'1.1-2'}}</td>
      <td>{{i + 1}}</td>
      <td>{{category.title}}</td>
      <td>{{category.categorySize}}</td>
      <td></td>
      <td *ngFor="let validity of category.expertValidity">
        {{validity}}
      </td>
      <td>{{category.expertValiditySum}}</td>
<!--      <td *ngFor="let p of category.avgProbabilitiesWithExpertValidity">-->
<!--        {{p | number:'1.1-2'}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{category.avgProbability | number:'1.1-2'}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{probabilityToString(category.avgProbability)}}-->
<!--      </td>-->
    </tr>
    <tr *ngFor="let risk of category.risks; let riskIndex = index">
      <td>{{risk.probability | number:'1.1-2'}}</td>
      <td>{{riskIndex + 1}}</td>
      <td>{{risk.title}}</td>
      <td>{{risk.value}}</td>
      <td></td>
      <td *ngFor="let validity of category.expertValidity; let i = index">
        {{risk.expertsProbability[i] | number:'1.1-2'}}
      </td>
      <td>{{risk.avgExpertsProbability | number:'1.1-2'}}</td>
<!--      <td *ngFor="let expertProb of risk.expertsProbabilityWithValidity">-->
<!--        {{expertProb | number:'1.1-2'}}-->
<!--      </td>-->
<!--      <td>-->
<!--        {{risk.avgExpertsProbabilityWithValidity | number:'1.1-2'}}-->
<!--      </td>-->
      <td>
        {{probabilityToString(risk.avgExpertsProbabilityWithValidity)}}
      </td>
    </tr>
  </ng-container>
</table>
