<h1>Визначення можливих втрат від проявів ризиків</h1>
<table class="table table-bordered">
<!--  <tr>-->
<!--    <td rowspan="4"></td>-->
<!--    <td colspan="3"></td>-->
<!--    <td>{{hardcode}}</td>-->
<!--    <td *ngFor="let expertCoef of expertsCoefficient">-->
<!--      {{expertCoef | number:'1.1-2'}}-->
<!--    </td>-->
<!--    <td colspan="13"></td>-->
<!--  </tr>-->
  <tr>
    <td rowspan="2"></td>
    <td rowspan="2" colspan="3"></td>
    <td colspan="10">Оцінки експертів у діапазоні [0...1]</td>
    <td></td>
    <td colspan="10">Оцінки експертів з урахуванням їхньої вагомості</td>
    <td rowspan="3">Додаткова вартість, тис. грн.</td>
    <td rowspan="3">Кінцева вартість, тис. грн.</td>
  </tr>
  <tr>
    <td *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      {{number}}
    </td>
    <td>Sum</td>
    <td *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
      {{number}}
    </td>
  </tr>
  <tr>
    <td></td>
    <td colspan="3"></td>
    <td colspan="10">Коефіцієнти вагомості кожного з експертів</td>
    <td></td>
    <td colspan="10"></td>
  </tr>
  <ng-container *ngFor="let category of riskCategories; let i = index">
    <tr [class]="'thead-dark font-weight-bold'">
      <td>{{category.getCategoryCoefficient()}}</td>
      <td>{{i}}</td>
      <td>{{category.title}}</td>
      <td>{{category.categorySize}}</td>
      <td>{{category.price | number:'1.1-2'}}</td>
      <td *ngFor="let v of category.expertValidityForLosses">
        {{v | number:'1.1-2'}}
      </td>
      <td>{{category.expertValidityForLossesSum}}</td>
      <td *ngFor="let v of category.avgValidityForLosses">
        {{v | number: '1.1-2'}}
      </td>
      <td>{{category.getAdditionalPrice()| number: '1.1-2'}}</td>
      <td>{{category.getTotalPrice()| number: '1.1-2'}}</td>
      <td>{{this.priceToLabel(category.getAdditionalPrice())}}</td>
    </tr>
    <tr *ngFor="let risk of category.risks; let j = index">
      <td>{{risk.probability | number:'1.1-2'}}</td>
      <td>{{j}}</td>
      <td>{{risk.title}}</td>
      <td>{{risk.value}}</td>
      <td>{{risk.price | number:'1.1-2'}}</td>
      <td *ngFor="let v of risk.expertsProbabilityForLosses">
        {{v | number:'1.1-2'}}
      </td>
      <td>{{risk.avgPrice| number: '1.1-2'}}</td>
      <td *ngFor="let v of risk.expertsProbabilityForLossesWithValidity">
        {{v | number:'1.1-2'}}
      </td>
      <td>{{risk.additionalPrice| number:'1.1-2'}}</td>
      <td>{{risk.finishPrice| number:'1.1-2'}}</td>
      <td>{{this.priceToLabel(risk.additionalPrice)}}</td>

    </tr>
  </ng-container>

</table>
<table class="table table-bordered minmaxtable">
  <tr>
    <td>Title</td>
    <td>Min</td>
    <td>Max</td>
  </tr>
  <tr *ngFor="let c of riskCategories">
    <td>{{c.title}}</td>
    <td>{{c.getMinPrice()| number:'1.1-2'}}</td>
    <td>{{c.getMaxPrice()| number:'1.1-2'}}</td>
  </tr>
</table>

<table class="table table-bordered intervalstable">
  <tr *ngFor="let i of [1, 2, 3]; let j = index">
    <td>{{i}}</td>
    <td>{{intervals[j] | number:'1.1-2'}}</td>
    <td>{{intervals[j + 1] | number:'1.1-2'}}</td>
  </tr>
</table>
