nav {
  height: 50px;
  background-color: #a6a19c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
a {
  text-decoration: none;
  width: 160px;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  vertical-align: middle;
  color: white;
}

.active {
  text-decoration: underline;
}
