<nav>
  <a routerLink="/step1">Визначення ризиків</a>
  <a routerLink="/step2">Визначення джерел ризиків</a>
  <a routerLink="/step3">Аналіз ризиків</a>
  <a routerLink="/step4">Фінансові ризики</a>
  <a routerLink="/step5">Заходи щодо запобігання ризикам</a>
  <a routerLink="/step6">Моніторинг ризиків</a>
</nav>

<router-outlet></router-outlet>
