<form>
  <div *ngFor="let risk of getRisks()" class="input">
    <span class="title">{{risk.title}}</span>
    <br/>
    <select class="events"#s (change)="risk.setEventValue(+s.value); localStorage.save(this.riskCategories)">
      <option value="0">Виберіть захід для запобігання ризику</option>
      <ng-container *ngFor="let event of getEvents()">
        <option value="{{event.value}}">
          {{event.title}}
        </option>
      </ng-container>
    </select>
  </div>
</form>
